.contact-us-container {
  display: flex;
  flex-direction: column;
}

.background-img {
  background-image: url('../assets/Img_Contact.png');
  background-size: 40%;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 56vh;
}

.form-container {
  margin-left: 100px;
  width: 40%;
}

.name-email-box {
  display: flex;
  justify-content: space-between;
}

.name-email {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  font-size: 11px;
  margin-bottom: 5px;
  color: gray
}

input {
  height: 35px;
  border: 1px solid lightgray;
  background-color: #F8F9FC;
  border-radius: 5px;
}

.phone-no {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.phone-no span {
  color: #C7C7CA;
  font-style: italic;
}

#phone02 {
  display: none;
}

.message-title-box {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 5px 0;;
}

.message-title-box span {
  color: #C7C7CA;
  font-size: 11px;
}

textarea {
  width: 99%;
  height: 130px;
  resize: none;
  border: 1px solid lightgray;
  background-color: #F8F9FC;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-container button {
  cursor: pointer;
}