.success-message{
  width: 100%;
  height: 150px;
  background-color: #E9F4DA;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: -100;
}

.success-message .section-title {
  font-size: 12pt;
  font-weight: 400;
  margin: 0px;
}

.success-message p {
  margin: 2px;
}

.tick-icon {
  background-image: url('../assets/Icon_Valid.svg');
  z-index: 1;
  color: white;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
}

.tick-background {
  width: 40px;
  height: 40px;
  background-color: #8EC73D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}