.homepage-container {
  display: flex;
  flex-direction: column;
}

.homepage-section1 {
  width:100%;
  height: 440px;
}

.swiper-container {
  height: 100%;

}

.swiper-slide img{
  width: 135%;
  object-fit: cover;
  object-position: -250px -180px;
  z-index: -1;
  position: relative;
}


.section1-box1 {
  width: 50%;
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  margin-top: -1200px;
  background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(38,38,38,0.7) 25%, rgba(38,38,38,0) 100%);
}

.section1-box1 .box1-title {
  font-size: 24pt;
  margin: 0;
}

.section1-box1 p {
  font-size: 12pt;
}

.homepage-section2 {
  display: flex;
  justify-content: space-between;
  height: 430px;
}

.section2-left-box {
  width: 50%;
}

.section2-img {
  width: 510px;
  height: 310px;
  margin-top: 50px;
}

.homepage-section3 {
  width: 100%;
  height: 430px;
  background-image: url(../assets/shutterstock_1302552622.jpg);
  background-size: 130%;
  background-position: left 50% top 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.white {
  color: white;
}

.section3-box1 {
  width: 35%;
  height: 70%;
  padding: 0 30px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #635C58;
}

.section3-box1 .section-title{
  margin: 0;
}

.section4-subtitle {
  color: #323232;
  margin-bottom: 20px;;
}

.section4-top-text .section-title {
  margin: 10px;
}

.homepage-section4 {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
}

.section4-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-container {
  columns: 3;
  column-gap: 30px;
  height: 60%;
  margin-bottom: 20px;
}

.column-container p {
  margin: 0 0 20px 0;
}

