header {
  border-bottom: 1px solid lightgray;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 14px 20px;
  text-transform: uppercase;
  font-size: 8.5pt;
  color: #484848;
}

nav {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-btn {
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #EFF7FF;
  color: #2F7BB8;
  font-size: 8.5pt;
  font-weight: bold;
}

.logo{
  width: 180px;
  height: 40px;
}

