.about-img{
  height: 400px;
  width: 600px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: gray;
  font-size: 8.5pt;
  margin: 20px 0px 20px 0px;
  line-height: 1.8;
}

.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

li {
  line-height: 1.8;
  font-size: 8.5pt;
  color: #8b8b8b;
  font-weight: bold;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

.section-title {
  margin: 50px 0 20px 0;
  font-size: 14pt;
  color: #8b8b8b;
  font-weight: bold;
}

.bullet-title {
  font-size: 12pt;
  color: gray;
  font-weight: bold;
  margin-top: 25px;
}