p {
  color: gray;
  font-size: 8.5pt;
  margin: 20px 0px 20px 0px;
  line-height: 1.8;
}

.about-img{
  height: 400px;
  width: 600px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

.section-title {
  margin: 50px 0 20px 0;
  font-size: 15pt;
  color: #323232;
  font-weight: 300;
}

.bullet-title {
  font-size: 12pt;
  color: gray;
  font-weight: bold;
  margin-top: 25px;
}

.top-line {
  font-weight: bold;
}

.spacer{
  margin-bottom: 50px;
}